<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>

    <div class="form-container">
        <h2>Signup</h2>
        <form action="/signup " method="post">
            <label for="fname">First Name : </label>
            <input type="text" name="fname" placeholder="First Name" required>
            <label for="fname">Last Name : </label>
            <input type="text" name="lname" placeholder="Last Name" required>
            <label for="fname">Email : </label>
            <input type="text" name="email" placeholder="abc.example@gmail.com" required>
            <label for="username">Enter Username : </label>
            <input type="text" name="username" placeholder="Enter Username" required autocomplete="off">
            <label for="password">Password : </label>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">SignUp</button>
        </form>
    </div>
    
</body>
</html>